:root{
    --combined : linear-gradient(90deg, #B67B3E 4.17%, #FAA955 53.12%, #BF9D46 100%);
    --c1-100 : #2B2B2B;
    --c1-85 : rgba(43, 43, 43, 0.85);
    --c1-light : #636363;
    
    --c2-dark : #A06C36;
    --c2-100 : #B67B3E;
    --c2-85 : rgba(182, 123, 62, 0.85);
    --c2-60 : rgba(182, 123, 62, 0.60);

    --c3-dark : #E39340;
    --c3-100 : #FAA955;
    --c3-85 : rgba(250, 169, 85, 0.85);
    --c3-60 : rgba(250, 169, 85, 0.6);
    
    --c4-dark : #A1853B;
    --c4-100 : #BF9D46;
    --c4-85 : rgba(191, 157, 70, 0.85);
    --c4-85 : rgba(191, 157, 70, 0.6);
}